body{
    background-color: var(--color-bg);
   /*overflow-y: hidden;*/
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:var(--font-family);
    box-sizing: border-box;
}
.section__padding{
    /*padding: 3rem ;*/
}
.section__margin{
    margin: 3rem auto;
}
.thinkmusik__sidebar{
    position: relative;
}
/*.overview__modal-bg{
    position: absolute;
    top:0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
}*/