@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  --color-active:#3375D9;
  --background-active:linear-gradient(103.22deg, #4777E180 13.86%, #05266D5E  99.55%);
  --color-bg: #191D31;
  --color-bars:  #191D31;
  --color-text:  #D1D2D6;
  --color-subtext: #FF8A71;
}